{% extends "apollo/templates/page.html" %}

{% block head %}
  {{ super() }}
  <script src="https://ring.recurse.com/ring.js" type="text/javascript"></script>
{% endblock head %}

{% block footer %}
  <div style="padding-top: 50px">
    <small>
      This site is part of
      <a
        id="rc-ring-home"
        data-rc-uuid="f916420d-c0de-4840-b3e3-a6fd96e43019"
        href="https://ring.recurse.com/"
        >The Recurse Webring</a
      >
      (<a id="rc-ring-prev" href="https://ring.recurse.com/prev?id=6">prev</a>
      <span> <-> </span>
      <a id="rc-ring-next" href="https://ring.recurse.com/next?id=6">next</a>
      <span> | </span>
      <a id="rc-ring-rand" href="https://ring.recurse.com/rand">random</a>)
      <br />
      Additionally, the <a href="https://webring.club">Constellation Webring</a>!
      (<a href="https://webring.club/_1baKjCgGss2DStx/previous">prev</a>
      <span> <-> </span>
      <a href="https://webring.club/_1baKjCgGss2DStx/next">next</a>
      <span> | </span>
      <a href="https://webring.club/random">random</a>)
    </small>
  </div>

  {{ super() }}

{% endblock footer %}
